language: python

python:
  - "3.5"
  - "3.4"
  - "2.7"
  - "2.6"

# command to install dependencies
install:
  - pip install pytest
  - pip install .

# command to run tests
script:
  - py.test --verbose
